<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <style>
        .code {
            width: 15%;
            height: 200px;
            background: #202746;
            border-radius: 2px;
            margin: 12vh 1vh;
            padding: 10px;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Learn JavaScript</a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="http://www.liaoxuefeng.com/">Get Courses</a></li>
                    <li><a target="_blank" href="https://github.com/michaelliao/learn-javascript">Source Code</a></li>
                    <li><a target="_blank" href="http://getbootstrap.com/">Resource</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signout">Sign Out</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="important" style="color:#cdbfe3; background-color:#6f5499; padding:30px 0; margin:-20px 0 20px 0;">
        <div class="container">
            <h1 style="color:#fff; font-size:60px">Getting started with WebSocket!</h1>
            <p style="font-size:24px; line-height:48px">Learn JavaScript, Node.js, WebSocket, npm, koa2, nunjucks, babel, etc. at liaoxuefeng.com.</p>
        </div>
    </div>
    {% block main %} {% endblock %}
    <div class="code"  style="float:left" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
    </div>
    <div class="code"  style="float:left" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
    </div>
    <div class="code"  style="float:left" data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom">
    </div>
    <div class="code"  style="float:left" data-aos="fade-up"
        data-aos-anchor-placement="top-center">
    </div>
    <div class="code"  style="float:left" data-aos="fade-up"
        data-aos-anchor-placement="center-center">
    </div>
    <div class="code"  style="float:right"  data-aos="fade-up"
        data-aos-anchor-placement="bottom-center">
    </div>
    <div style='clear:both;'></div>
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a target="_blank" href="http://www.liaoxuefeng.com">Website</a> - 
                <a target="_blank" href="https://github.com/michaelliao/learn-javascript">GitHub</a> - 
                <a target="_blank" href="http://weibo.com/liaoxuefeng">Weibo</a>
            </p>
            <p>This JavaScript course is created by <a target="_blank" href="http://weibo.com/liaoxuefeng">@廖雪峰</a>.</p>
            <p>Code licensed <a target="_blank" href="https://github.com/michaelliao/learn-javascript/blob/master/LICENSE">Apache</a>.</p>
        </div>
    </footer>
    <script>
        AOS.init();
    </script>
</body>

</html>