@mixin px2rem($name, $px){
    #{$name}: $px / 75 * 1rem;
}


@mixin px2px($name, $px){
    #{$name}: round($px / 2) * 1px;
    [data-dpr="2"] & {
        #{$name}: $px * 1px;
    }
    // for mx3
    [data-dpr="2.5"] & {
        #{$name}: round($px * 2.5 / 2) * 1px;
    }
    // for 小米note
    [data-dpr="2.75"] & {
        #{$name}: round($px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        #{$name}: round($px * 3 / 2) * 1px
    }
    // for 三星note4
    [data-dpr="4"] & {
        #{$name}: $px * 2px;
    }
}

body{
    background:#f2f2f2;
}

.logo{
    width: 100%;
    @include px2rem(height, 339.75);
    background: url(../../image/1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.form-container{
    @include px2rem(width, 600);
    border-radius: 20px;
    background: #fff;
    margin: 0 auto;
    @include px2rem(margin-top, -130);
    @include px2rem(padding, 60);
    input{
        @include px2px(font-size, 32);
        border: none;
        border-bottom: 1px solid #f4f4f4;
        padding: 36px;
        width: 100%;
    }
    button{
        background: #ff8309;
        border: none;
        border-radius: 70px;
        color: #fff;
        @include px2px(font-size, 44);
        @include px2rem(padding, 20);
        width: 100%;
        @include px2rem(margin-top, 100);
        @include px2rem(margin-bottom, 50);
    }
    p{
        @include px2px(font-size, 28);
        text-align: center;
        color: #adadad;
    }
    a{
        @include px2rem(padding-left, 60);
        @include px2rem(padding-right, 60);
        color: #cccccc;
        &.active {
            color: #ee9944
        }
    }
}
